name: ci

permissions:
  contents: write

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: check_tests
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        deno:
          - v2.x
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}
          cache: true

      - name: Run Tests
        run: |
          deno task test
  test-node:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node:
          - 24.2.0
        os:
          - ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Set up NodeJs
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}

      - name: Run Tests
        run: deno task test:node
  test-bun:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        bun:
          - latest
        os:
          - ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun }}

      - name: Run tests
        run: deno task test:bun

  lint:
    name: check_lint
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: canary
          cache: true

      - name: Format
        run: deno fmt --check

      - name: Lint
        run: deno lint
